body {
    font-family: Lato,Calibri,Trebuchet MS,Helvetica,sans-serif;
    line-height: 1.8;
}

blockquote {
    font-weight: lighter;
}

h1, h2, h3, h4, strong, b {
    font-weight: bolder;
}

pre, code, kbd, samp {
    font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
}

pre {
    font-size: 80%;
}

table {
    margin: auto;
    border: solid black 1px;
    border-collapse: collapse;
}

td, th {
    padding: 3px;
    border: solid #aaa 1px;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.content > header,
.content > article,
.content > footer {
    padding-left: 3px;
    padding-right: 3px;
}

.content footer {
    border-top: solid #4082BF 2px;
}

.content footer * {
    display: inline-block; 
    vertical-align: middle;
    margin: 0;
    padding: 0;
}

.content footer li {
    margin-left: 0.75em;
}

.content footer li a {
    padding: 2px 4px;
}

.content footer li a:hover {
    background: #136498;
    color: white;
}

footer h1 {
    font-size: 110%;
}

article header p {
    font-size: 85%;
}

article header h1 {
    margin-bottom: 0;
}

article header p {
    margin-top: 0;
    margin-bottom: 0;
}

article + article {
    border-top: solid #4082BF 2px;
}

footer.wrapper :target {
    background: white;
    outline: dotted 1px blue;
}

footer.wrapper {
    font-size: 85%;
    color: white;
    padding-top: 0;
}

footer.wrapper ul,
footer.wrapper li {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 1.2;
    background: #136498;
}

footer.wrapper ul {
    display: inline-block;
    padding: 16px 6px 6px 6px;
}

footer.wrapper a {
    color: white;
    font-weight: normal;
}

footer.wrapper a:visited {
    color: #ccc;
}

footer.wrapper a:hover,
footer.wrapper a:focus {
    color: #ccf;
}

footer.wrapper a:active {
    color: #aff;
}

#elsewhere {
    float: right;
}

.deprecated {
    background: #fcc;
    color: black;
    padding: 1em 1ex;
}

.deprecated :first-child {
    margin-top: 0;
}