.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.content > header,
.content > article,
.content > footer {
    padding-left: 3px;
    padding-right: 3px;
}

.content footer {
    border: solid #f16529 2px;
}

footer h1 {
    font-size: 110%;
}

article header p {
    font-size: 85%;
}

article header h1 {
    margin-bottom: 0;
}

article header h1 + p {
    margin-top: 0;
}

article + article {
    border-top: solid #f16529 2px;
}

footer.wrapper :target {
    background: white;
    outline: dotted 1px blue;
}

footer.wrapper {
    font-size: 85%;
    color: white;
    padding-top: 0;
}

footer.wrapper ul,
footer.wrapper li {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 1.2;
    background: #e44d26;
}

footer.wrapper ul {
    display: inline-block;
    padding: 16px 6px 6px 6px;
}

footer.wrapper a {
    color: white;
    font-weight: normal;
}

footer.wrapper a:visited {
    color: #ccc;
}

footer.wrapper a:hover,
footer.wrapper a:focus {
    color: #ccf;
}

footer.wrapper a:active {
    color: #aff;
}

#elsewhere {
    float: right;
}