<!DOCTYPE html>
<html lang="en">
	<head>
		<meta chatset="utf-8"/>
		<title>Admin documents</title>
	</head>
	<body>
		<h1>Admin documents</h1>
		<h2>Create document</h2>
		<form method="post" action="[% uri_create | html %]">
			<label>Document slug: <input name="slug"></label>
			<input type="submit" value="Create">
		</form>
		<h2>Edit document</h2>
		<ul>
			[% FOREACH document IN documents %]
				<li><a href="[% document.edit_uri | html %]">[% document.slug | html %]</a></li>
			[% END %]
		</ul>
	</body>
</html>
