<!DOCTYPE html>
<html lang="en">
	<head>
		<meta chatset="utf-8"/>
		<title>Admin documents</title>
	</head>
	<body>
		<h1>Admin documents</h1>
		<h2>Create document</h2>
		<form method="post" action="[% uri_create | html %]">
			<label>Document slug: <input name="slug"></label>
			<input type="submit" value="Create">
		</form>
		<h2>Edit document</h2>
		<table>
			<thead>
				<tr>
					<th scope="col"><abbr title="Published">Pub</abbr></th>
					<th scope="col">Slug</th>
				</tr>
			</thead>
			<tbody>
			[% FOREACH document IN documents %]
				<tr>
					<td>[% IF document.published %]✓[% END %]</td>
					<td><a href="[% document.edit_uri | html %]">[% document.slug | html %]</a></td>
				</tr>
			[% END %]
			</tbody>
		</table>
	</body>
</html>
