<!DOCTYPE html>
<html lang="en">
	<head>
		<meta chatset="utf-8"/>
		<title>Edit document</title>
        <style>
        textarea, input { 
            font-family: monospace !important;
        }

        label, label span {
            display: block;
        }

        input, textarea, select {
            margin-left: 2em;
        }

        .null {
            font-style: italic;
        }

        .yui3-taglistentry-holder {
            display: block;
            list-style: none;
            margin: 0 0 0 2em;
            padding: 0;
        }

        .yui3-taglistentry-holder input {
            margin: 0;
        }

        .yui3-taglistentry-holder li {
            display: inline-block;
            border: solid black 1px;
            border-radius: 2px;
            list-style: none;
            margin: 2px;
            padding: 2px;
        }

        .yui3-taglistentry-holder li span {
            display: inline-block;
            margin: 0 3px;
        }

        .yui3-taglistentry-holder li .yui3-taglistentry-text {
            font-weight: bold;
        }

        .yui3-taglistentry-holder li .yui3-icon {
            font-size: 0.8em;
            font-family: sans-serif;
        }

        </style>
	</head>
	<body>
		<h1>Edit document</h1>
		<form method="post">
			<div>
				<label><span>Title</span>
					<input name="title" value="[% title | html %]">
				</label>
			</div>
			<div>
				<label><span>Document</span>
					<textarea rows=8 cols=60 name="source">[% source | html %]</textarea>
				</label>
			</div>
            <div>
                <label><span>Tag that this document will serve as an index page for</span>
                    <select name="index_tag">
                            <option value="" class="null">This page is not a tag index</option>
                        [% FOREACH tag IN all_tags %]
                            <option[% IF tag.selected %] selected[% END %]>[% tag.name | html %]</option>
                        [% END %]
                    </select>
                </label>
            </div>
            <div>
                <label><span>Tags</span>
                    <input name="tags" value="[% my_tags | html %]">
                </label>
            </div>
			<input type="submit" value="Save">
			<input type="submit" name="publish" value="Save and Publish">
			<input type="submit" name="preview" value="Preview">
		</form>
        <form method="post" id="delete">
            <input type="submit" name="delete" value="Delete">
        </form>


        <script src="http://yui.yahooapis.com/3.8.0/build/yui/yui-min.js"></script>
        <script>
            YUI({
                gallery: 'gallery-2011.03.23-22-20'
            }).use('gallery-taglist', function(Y) {
              Y.one('input[name=tags]').plug(Y.taglist);
            });

            YUI().use('node', 'event', function (Y) {

                function resize(e) {
                    var length = this.get('value').length;
                    var target = Math.ceil(length / this.get('cols'));
                    target += this.get('value').match(/\n/g).length;

                    if (!length) {
                        length = 1;
                    }
                    this.set(
                        'rows',
                        target
                    );
                }

                var textarea = Y.one('textarea[name=source]');
                textarea.on(['keyup', 'change', 'paste'], resize);
                resize.call(textarea);
            });

            YUI().use('node', 'event', function (Y) {
                Y.one('#delete').on(['submit'], function (e) {
                    var sure = confirm("Really delete this entry? There is no way back.");
                    if (!sure) {
                        e.preventDefault();
                    }
                });
            })
        </script>
	</body>
</html>