<!DOCTYPE html>
<html lang="en">
	<head>
		<meta chatset="utf-8"/>
		<title>Admin tags</title>
        <style>
            table, td, th {
                border-collapse: collapse;
                padding: 0;
                border: solid black 1px;
            }

            th {
                padding: 1ex;
            }

            table a {
                display: block;
                padding: 1ex;
            }
        </style>
	</head>
	<body>
		<h1>Admin "[% tag | html %]"</h1>
		<form action="" method="post">
            <input type="hidden" name="tag" value="[% tag | html %]">
            <input type="submit" name="submit" value="Delete">
            <fieldset>
                <label>New name <input name="new_name"></label>
                <input type="submit" name="submit" value="Rename">
            </fieldset>
        </form>
        <script>
            document.querySelector("input[value=Delete]").addEventListener('click', function (e) {
                if (!confirm("Are you sure you want to delete this tag?")) {
                    e.preventDefault();
                }
            })
        </script>
	</body>
</html>
