[% PROCESS 'common.tt';
   WRAPPER 'index.tt'
    article_title = "Tags"
%]

<article>
    <style scoped>
    [% cloud_css %]
    </style>
    <h2>All tags</h2>
    [% cloud %]
</article>

<!--<ul>
[% FOREACH tag IN all_tags %]
	<li>
		<a href="[% tag.url | html %]">
			[% tag.name | html %]
		</a>
		([% tag.document_count %])
	</li>
[% END %]
</ul>-->

[% END %]