[% WRAPPER 'include/page.tt' 
	title="Tags"
%]

<h2>All tags</h2>

<ul>
[% FOREACH tag IN all_tags %]
	<li>
		<a href="[% tag.url | html %]">
			[% tag.name | html %]
		</a>
		([% tag.document_count %])
	</li>
[% END %]
</ul>

[% END %]