[% WRAPPER 'include/page.tt' 
	title=title %]

[% html %]

<ul>
[% FOREACH document IN documents %]
	<li>
		<a href="[% document.url | html %]">
			[% document.title | html %]
		</a>
	</li>
[% END %]
</ul>

[% END %]