[% BLOCK nearby_item -%]
    [% IF item -%]
        <li><a href="[% item.uri | html %]">
            [% item.text | html -%]
        </a></li>
    [% END -%]
[% END -%]
[% BLOCK time_element -%]
[% UNLESS suppress_link %]
<a href="[% dt.uri | html %]">
[% END %]
    <time datetime="[% dt.iso | html %]">
        [% dt.human | html %]
    </time>
[% UNLESS suppress_link %]
</a>
[% END %]
[% END -%]