[% PROCESS 'common.tt';
   WRAPPER 'index.tt'
    article_title = "Blog"
%]

    <header>
        <h1>[% title | html %]</h1>
    </header>

    [% FOREACH document IN documents %]
        <article>
            <header>
                <h1><a href="[% document.uri | html %]">[% document.title | html %]</a></h1>
                <p>Published on [% PROCESS time_element dt=document.published %]</p>
            </header>
            [% document.content %]
        </article>
    [% END %]
[% END %]